<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title> {{titulo}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar
    (ionChange)="buscarFilmes($event)"
    placeholder="Buscar filme"
    showCancelButton="always"
  ></ion-searchbar>

  <ion-list *ngIf="listaFilmes">
    <ion-item lines="none" *ngIf="listaFilmes.results.length === 0" >
      <ion-label class="ion-text-center" color="danger">Não a nenhum filme com esse nome :(</ion-label>
    </ion-item>
    <!-- toda vez q tiver um array vai precisar de ngFor -->
    <ion-item-sliding *ngFor="let filme of listaFilmes.results">
      <ion-item lines="full" (click)="exibirFilme(filme)">
        <ion-thumbnail slot="start">
          <!-- vai exibir a imagem se realmente existir por isso do ngIf-->
          <img
            *ngIf="filme.poster_path"
            src="https://www.themoviedb.org/t/p/w500/{{filme.poster_path}}"
          />
          <ion-icon *ngIf="!filme.poster_path"  name="videocam-off"></ion-icon>
          <!-- vai exibir o icon se não tiver imagem por isso do ! na frente -->
        </ion-thumbnail>
        <ion-label  class="ion-text-wrap">
          <div>
            <h1>{{filme.title}}</h1>
            <p>{{filme.release_date | date: 'shortDate'}}</p>
            <p>Popularidade - {{filme.popularity}}</p>
            <ion-badge color="light" *ngFor="let idGenero of filme.genre_ids"
              >{{generos[idGenero]}}</ion-badge
            >
          </div>
        </ion-label>

        <!-- parte de mexendo com as cores dependendo da nota dada ao filme -->
        <ion-chip
          [color]="filme.vote_average < 4 ? 'danger': ((filme.vote_average < 7) ? 'warning': 'success')"
          mode="ios"
          outline="true"
        >
          <ion-label>{{filme.vote_average}}%</ion-label>
        </ion-chip>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="laranja" (click)="exibirAlertaFavorito()">
          <ion-icon slot="icon-only" name="star"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
